#!/bin/bash

# Sonarr connection details
RADARR_IP="1.1.1.1"
RADARR_PORT="7878"
RADARR_APIKEY="abcdefghijklmnnopqrstuvwxyz12345"

# Sonarr connection details
SONARR_IP="1.1.1.1"
SONARR_PORT="8989"
SONARR_APIKEY="abcdefghijklmnnopqrstuvwxyz12345"

# Flags
NEW_TAG="vidconv-new"           # flag to be added when new episodes were added
ERROR_TAG="vidconv-error"       # flag to be added when conversion errors occured
